.gallary{ 
  
  
    float: left;
    width: 32.1%;
    
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 30px;
    box-shadow: inset 3px 3px 10px #c2aea8,
						inset -3px -3px 10px #c2aea8;
}
.gallary img{
    width: 100%;
    height: auto;
    
    border-radius: 30px;
    padding: 12px 12px 9px 12px;
   

}
